html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Sumana', serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f2f4f4;
}
/*! ---- HEADER ----- */
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url('image/bgr-1.jpg');
  background-size: cover;
  margin-bottom: 0;
}
.logo {
  position: absolute;
  background-image: url('svg/logo.svg');
  height: 70px;
  width: 70px;
  top: 20px;
  left: 200px;
}
.nav {
  position: absolute;
  width: 800px;
  height: 30px;
  right: 0px;
}
.nav__menu {
  margin-top: 10px;
  padding: 0;
}
.nav__menu_item {
  display: inline-block;
  padding-right: 50px;
  font-family: 'Krona One', sans-serif;
  color: #f2f4f4;
}
.nav__menu_item a {
  text-decoration: none;
  color: #f2f4f4;
  font-size: 16px;
}
.nav__menu_item a:hover {
  color: #03d3c7;
  transition: color 0.8s;
}
.header__content {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 500px;
  left: 50%;
  margin: -250px 0 0 -250px;
  color: #f2f4f4;
}
.header__content h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 25px;
}
.header__content hr {
  border: none;
  background-color: #03d3c7;
  width: 80px;
  height: 2px;
}
.header__content p {
  line-height: 1.5em;
}
.header__button {
  outline: none;
  position: absolute;
  width: 100px;
  height: 40px;
  top: 550px;
  left: 50%;
  margin: -50px 0 0 -50px;
  border: 2px solid #03d3c7;
  background: none;
  color: #03d3c7;
  cursor: pointer;
  transition: all 0.25s ease;
}
.header__button a {
  text-decoration: none;
  color: #03d3c7;
}
.header__button:hover {
  background: #03d3c7;
}
.header__button:hover a {
  color: white;
}
/*! ---- MAIN ----- */
.main {
  position: relative;
  width: 100vw;
  height: 1400px;
  left: 0;
}
.about {
  position: relative;
  width: 100vw;
  height: 100px;
  top: 50px;
}
.about h2 {
  font-family: 'Krona One', sans-serif;
  font-size: 26px;
}
.about hr {
  border: none;
  background-color: #03d3c7;
  width: 80px;
  height: 2px;
}
.about p {
  margin-top: 50px;
  padding-left: 10px;
  line-height: 2em;
  border-left: 2px solid #03d3c7;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__content_text {
  width: 600px;
}
.expertise {
  position: relative;
  top: 40%;
  width: 100vw;
  height: 800px;
  background-color: #231f44;
  color: #f2f4f4;
}
.expertise h2 {
  padding-top: 30px;
  font-family: 'Krona One', sans-serif;
  font-size: 26px;
}
.expertise h3 {
  font-family: 'Krona One', sans-serif;
  font-size: 12px;
}
.expertise p {
  line-height: 1.5em;
}
.expertise hr {
  border: none;
  background-color: #03d3c7;
  width: 80px;
  height: 2px;
}
.expertise__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.expertise__content_item {
  flex-basis: 300px;
  padding: 10px;
  height: 200px;
  margin: 30px;
  border-bottom: 2px solid #03d3c7;
}
.expertise__content_item .item__image {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.expertise__content_item p {
  font-size: 12px;
}
.feedback {
  position: relative;
  top: 40%;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
}
.feedback h2 {
  padding-top: 30px;
  font-family: 'Krona One', sans-serif;
  font-size: 26px;
}
.feedback h3 {
  font-family: 'Krona One', sans-serif;
  font-size: 12px;
}
.feedback p {
  line-height: 1.5em;
}
.feedback hr {
  border: none;
  background-color: #03d3c7;
  width: 80px;
  height: 2px;
}
.feedback__content {
  width: 100vw;
  height: 400px;
}
.feedback__content_form {
  position: relative;
  width: 500px;
  margin: 70px auto 100px auto;
}
.form__name,
.form__email,
.form__submit {
  font-family: 'Krona One', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #535068;
  border: solid 2px #535068;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.form__name:hover,
.form__email:hover,
.form__submit:hover {
  background: #535068;
  color: #f2f4f4;
}
.form__message {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #535068;
  font-family: 'Krona One', sans-serif;
  font-size: 0.875em;
  border: solid 2px #535068;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.form__message:hover {
  background: #535068;
  color: #f2f4f4;
}
#submit {
  font-family: 'Krona One', sans-serif;
  width: 470px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: #f2f4f4;
  background: #726f89;
  outline: none;
  cursor: pointer;
  border: solid 2px #726f89;
  border-radius: 5px;
}
#submit:hover {
  background: #535068;
  border: solid 2px #535068;
}
